@model IEnumerable<ExpenseTracker.Models.Payee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginEffectiveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndEffectiveDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Aliases != null && item.Aliases.Count() > 0) {
                    <input type="checkbox" class="expandHack" id="@item.ID">
                    <label for="@item.ID" class="expandDropdown"><div></div></label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginEffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndEffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        @if (item.Aliases != null && item.Aliases.Count() > 0) {
            <tr id="@("detail" + item.ID)" class="aliasTable">
                <td colspan="6" style="padding: 1% 7%">
                    <table class="table">
                        @foreach (var alias in item.Aliases) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => alias.Name)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
}
    </tbody>
</table>
